<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Shop App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Main</a>
        </li>
        </ul>
      <div class="d-flex">
        <button class="btn btn-outline-light btn-sm" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</nav>